src/main/mule/proj-70.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b81e477a-813e-402e-829b-4e5a4393e598" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="proj-70Flow" doc:id="5034ebcc-ebab-4897-bb19-d627185e2e41" >
		<http:listener doc:name="Listener" doc:id="1aa82a18-e778-4c36-a9ba-f29bf0494664" config-ref="HTTP_Listener_config" path="/path1"/>
		<logger level="INFO" doc:name="Logger" doc:id="6ffc5d0b-71b9-4dfa-998f-3df2281a23db" message='#["hello world"]'/>
	</flow>
</mule>
